.NoEvent {
    pointer-events: none;
}

.Tags .badge + .badge,
.Tags .Tag + .Tag {
    margin-left: 0.5rem;
}

.Tags .Tag {
    text-decoration: none;
}

.Tags .Tag:hover {
    text-decoration: underline;
}

.Tags .badge {
    cursor: pointer;
}

.IconButtons {
    margin-bottom: -0.75em;
    margin-right: -0.25em;
}

.IconBtn.bi {
    color: lightgray;
    cursor: pointer;
}

.IconButtons .bi {
    font-size: 1rem;
    color: lightgray;
    cursor: pointer;
}

.IconButtons .bi + .bi {
    margin-left: 1rem;
}

.IconBtn.bi + .IconBtn.bi {
    margin-left: 0.5rem;
}

.card:hover .bi {
    color: black;
}

.card .Protected {
    font-size: smaller;
    color: #666;
    background-color: lightgreen;
    padding: 0 2px 0 2px;
}

.card .Deleted {
    font-size: smaller;
    color: white;
    background-color: #CCC;
    padding: 0 2px 0 2px;
}

.card .Restored {
    font-size: smaller;
    color: white;
    background-color: green;
    padding: 0 2px 0 2px;
}
